header.header
    .wrapper
        .logo.green
            a(href="./")
                img(src="./images/icon/logo-green.svg", alt="logo")
                span Курортный поселок для жизни
        .header__block
            .header__phone.green
                a(href="#") Заказать звонок
                a(href="tel:+ 79990000000")
                    img(src="./images/icon/phone-green.svg", alt="phone")
                    | + 7 999 000-00-00
            nav.menu
                ul.green
                    li
                        a(href="#") О проекте 
                    li
                        a(href="#") Выбрать участок
                    li.active
                        a(href="#") Контакты
section.contacts.wrapper
    h2 Контакты
    .contacts__wrap
        span Тел: 
            a(href="tel:+70000000000") +7 000 000 00 00
        span Тел: 
            a(href="tel:+70000000000") +7 000 000 00 00
footer.footer
    .wrapper
        .footer__copyright
            p © 2020 
                a(href="#") Политика конфиденциальности
            p
                a(href="mailto:example@gmail.com") example@gmail.com 
                | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
        .footer__links
            .footer__text
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#")
                img(src="./images/icon/kontur.svg", alt="kontur")