meta(content="" name="author")
meta(content="" name="description")
meta(content="" name="keywords")
meta(content="width=device-width, initial-scale=1" name="viewport")
meta(content="ie=edge" http-equiv="x-ua-compatible")

//- favicon block start
link(rel="icon" type="image/png" href="./favicon.png", sizes="16x16")
//- favicon block end

if block
  block headScripts


<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Raleway:wght@500;700;900&family=Roboto&display=swap" rel="stylesheet">
link(rel='stylesheet' href='css/slick-theme.css')
link(rel='stylesheet' href='css/slick.css')
link(rel='stylesheet' href='css/vendor.css')
link(rel='stylesheet' href='css/commons.css')
<script src="https://api-maps.yandex.ru/2.1/?apikey=b073c90e-34bb-471f-89d4-bd7e5ffff257&lang=ru_RU" type="text/javascript"></script>

if block
  block style


<!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
<![endif]-->